.assortment__switcher {
  display: flex;
}

.assortment__item {
  display: flex;
  align-items: center;
}

.assortment__img {
  width: 50%;
}

.assortment__description {
  flex: 1;
}

.product__about {
  display: flex;
  flex-wrap: wrap;
}

.product__delivery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__info {
  margin-right: rem(55px);
  margin-bottom: rem(35px);

  &:last-child {
    margin-right: 0;
  }
}

.product__product__info > h4 {
  font-size: rem(18px);
  font-weight: 400;
  color: #666666;
}

.product__info > p {
  font-weight: bold;
  color: #000;
}

.product__price {
  margin-right: rem(35px);
}

.product__price > p {
  font-size: 60px;
  font-weight: 300;
  color: #151515;
  text-transform: uppercase;
}

.product__paragraph {
  margin-bottom: rem(47px);
  padding-right: 26%;
}

.desc__pic {
  width: rem(50px);
  height: rem(50px);
  margin-bottom: rem(37px);
}

.desc__title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: rem(22px);
}