.assortment {
  background-color: #f8faf9;
  position: relative;
  background: url(../../img/assortment/patern.png) right bottom -50% no-repeat;

  &:after {
    content: url(../../img/assortment/berries.png);
    position: absolute;
    bottom: rem(-35px);
    right: 0;

    @include phones {
      bottom: -15%;
    }
  }
}

.assortment__switcher {
  display: flex;
  align-items: center;
}

.assortment__item {
  display: flex;
  align-items: center;

  @include tablets {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.assortment__img {
  width: 50%;
 
/*   &:before {
    position: absolute;
    top: 30%;
    left: -5%;
    content: url(../../img/assortment/LeafLeft.png);

    @include tablets {
      top: 30%;
      left: 13%;
    }

    @include phones {
      top: 3%;
      left: 8%;
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 55%;
    content: url(../../img/assortment/LeafRight.png);

    @include tablets {
      right: 20%;
      top: 40%;
    }

    @include phones {
      right: 9%;
      top: 27%;
    }
  } */
}

.assortment__description {
  flex: 1;
}

.assortment__list {
  display: flex;
  flex-direction: column;
}

.assortment__svg {
  width: rem(35px);
  height: rem(35px);
  margin-right: rem(24px);
}

.assortment__item {
  margin-bottom: rem(14px);

  &:last-child {
    margin-bottom: 0;
  }
}

.assortment__name {
  margin-right: rem(73px);
}

.product__description {

  @include tablets {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.assortment__menu {
  display: flex;
  flex-direction: row;
  padding: 5% 5%;
}

.assortment__price {
  display: flex;
  flex-direction: column;
}

.price__number {
  margin-bottom: rem(24px);
}

.product__about {
  display: flex;
  flex-wrap: wrap;
}

.product__delivery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__info {
  margin-right: rem(55px);
  margin-bottom: rem(30px);

  &:last-child {
    margin-right: 0;
  }
}

.product__product__info > h4 {
  font-size: rem(18px);
  font-weight: 400;
  color: #666666;
}

.product__info > p {
  font-weight: bold;
  color: #000;
}

.product__price {
  margin-right: rem(35px);
}

.product__price > p {
  font-size: 60px;
  font-weight: 300;
  color: #151515;
  text-transform: uppercase;
}

.product__paragraph {
  margin-bottom: rem(47px);
  padding-right: 26%;

  @include tablets {
    padding-right: 0;
    padding: 0 6%;
  }

  @include phones {
    margin-bottom: 40px;
  }
}

.desc__img {
  background:  #86c3d7;
  display: inline-block;
  width: rem(90px);
  height: rem(90px);
  vertical-align: top;
  padding: 2% 4%;
  border-radius: rem(5px);
  margin-bottom: rem(37px);
  

  @include tablets {
    display: none;
  }
}

.desc__pic {
  position: absolute;
  width: rem(50px);
  height: rem(50px);
  margin-bottom: rem(37px);
  fill: #fff;
}

.desc__title {
  font-size: rem(36px);
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: rem(22px);
}

.desc__paraghraph {
  position: absolute;
  bottom: 86%;
  color: #fff;
  font-size: rem(14px);
  font-weight: 700;
  text-transform: uppercase;
}