.benefits {
  display: flex;
}

.benefits__item {
  position: relative;
  flex: 1;
  padding: 0 3%;

  &:before {
    content: url("../../img/WhyChocco/points.png");
    position: absolute;
    top: 30px;
    right: 0;
    transform: translate(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}

.benefit__img {
  margin-bottom: 30px;
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}