.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  position: relative;
  flex: 1;
  padding: 0 3%;

  @include phones {
    padding: 0;
    margin-bottom: 45px;
  }

  &:before {
    content: url("../../img/WhyChocco/points.png");
    position: absolute;
    top: rem(30px);
    right: 0;
    transform: translate(50%);

    @include phones {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}
