.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(37px);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(100px);
  line-height: 1;
  display: inline-block;
  border: none;

  @include phones {
    padding: 19px 42px;
  }

  &--theme--white {
    background: #fff;
    color: $darkGreen;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #fff;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000;
    text-transform: none;

    &:hover {
      color: $darkGreen;
    }
  }
}

.product__btn {
  &:hover {
    background: #2e4e3f;
    color: #fff;
  }
}