.header__hamburger {
  position: relative;
  width: rem(34px);
  height: rem(30px);
  cursor: pointer;

  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  width: 100%;
  height: rem(5px);
  background-color: #fff;
  position: absolute;
  border-radius: rem(10px);
  left: 0;
  transition: .3s all linear;
  z-index: 999999;

  &--first {
    top: 0;
  }

  &--second {
    top: 50%;
    transform: translateY(-50%);
  }

  &--third {
    top: 50%;
    transform: translateY(-50%);  
  }

  &--fourth {
    bottom: 0;
  }
}

.header__hamburger--active .hamburger__plank--first,
.header__hamburger--active .hamburger__plank--fourth {
  opacity: 0;
}

.header__hamburger--active .hamburger__plank--second {
  transform: translateY(-50%) rotate(45deg); 
}

.header__hamburger--active .hamburger__plank--third {
  transform: translateY(-50%) rotate(-45deg); 
}

///modal hamburger 

.hamburger-menu {
  display: none;
  position: absolute;
  justify-content: space-around;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #61c4d9;

  &--active {
    display: flex;
  }
}

.hamburger-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hamburger-menu__link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}


