.hero {
  background: url("/img/intro/chocobars.png") left 78% center no-repeat, 
  url("/img/intro/patern.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
}