.hero {
  background: url("../../img/intro/patern.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  position: relative;

  @include tablets {
    min-height: 0;
    background-size: auto 60%;
    background-position: right bottom 80%;
  }

  @include phones {
    min-height: 0;
    background-size: auto 50%;
    background-position: right bottom 83%;
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
    content: url("../../img/intro/leaf3.png");
  }

  &:after {
    content: url("../../img/intro/berriesandleafs.png");
    position: absolute;
    bottom: rem(-40px);
    right: 0;

  }
 }

.hero__container {
 /*  background: url("../../img/intro/chocobars.png") right center /50% auto no-repeat; */
  padding: rem(24px) 0 rem(45px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
