.row__list {
  display: flex;
}

.row__item {
  margin-right: rem(38px);

  &:last-child {
    margin-right: 0;
  }
}

.items {
  display: flex;
}

.row__pic {
  width: rem(45px);
  margin-right: rem(6px);
}

.row__text > p {
  font-size: rem(16px);
  max-width: rem(85px);
}
