.hero__intro {
  width: 40%;
}

.content__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.content__description {
  font-size: 21px;
  margin-bottom: 30px;
}
