.hero__intro {
  position: relative;

 @include tablets {
   display: flex;
   flex-direction: column;
   width: 100%;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: url(../../img/intro/Phones_leafs_berries.png) center top 39% no-repeat;
  }

  @include phones {
    background-position: center top 15%;
  }
}

.hero__content {
  width: 40%;

  @include tablets {
    width: 100%;
    order: 2;
  }
}

.hero__content > h1 {
  font-size: rem(48px);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero__content > p {

  font-size: rem(21px);
  margin-bottom: rem(30px); 

  @include tablets {
    padding: 0 25%;
  }

  @include phones {
    padding: 0 16%;
  }
}

.hero__content-img {
position: absolute;
bottom: -22%;
left: 46%;

  @include tablets {
    position: static;
    display: flex;
    order: 1;
    width: 54%;
    padding-bottom: 5%;

  }

  @include phones {
    width: 50%;
    padding-bottom: 5%;
  }
}