.delivery__modal {
width: rem(300px);
height: rem(200px);
border-radius: 10px;
display: none;
background-color: #61c4d9;
align-items: center;
z-index: 1000;

&-active {
    display: flex;
    }
}

.modal__info {
display: flex;
flex-direction: column;
align-items: center;

}

.modal__info > h4 {
 font-weight: bold;
 margin-bottom: 5%;

}