.section  {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--white {
    color: #fff;
    position: relative;

    h2 {
      color: inherit;
      margin-bottom: 0;
    }
  }

  &--font-color--green {
    color: $darkGreen;

    h2 {
      color: inherit;
    }
  }
  @include tablets {
    min-height: 0;
  }

  @include phones {
    min-height: 0;
  }
}