.why-chocco {
  position: relative;
  background: url(../../img/WhyChocco/leaf.png) left top 40% no-repeat;

  @include tablets {
    background-position: left top 5%;
  }

  @include phones {
    background: none;
  }

  &:before {
    content: url("../../img/WhyChocco/berry.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include tablets {
      bottom: rem(-60px);
    }

    @include phones {
      display: none;
    }
  }
}

.why-chocco__preview {
  margin-bottom: rem(36px);

  @include tablets {
    margin-bottom: 53px;
  }
}

.why-chocco__preview > h2 {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(2px);
  color: #000;
  text-transform: uppercase;
}

.why-chocco__preview > p {
  color: #666666;
  text-align: center;
  padding: 0 26%;

  @include tablets {
    padding: 0 19%;
  }

  @include phones {
    padding: 0 4%;
  }
}